// Widescreens
@include mediaXL {
  .project {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaL {
  .project {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets
@include mediaM {
  main {
    align-items: center;
    text-align: center;
  }
  .about-info {
    grid-template-areas: "bioImage" "bio" "job1" "job2" "job3" "job4";
    grid-template-columns: 1fr;
  }
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
}
// Smartphones
@include mediaS {
  .project {
    grid-template-columns: 1fr;
  }
}
